html {
  font-size: 22px; }

@font-face {
  font-family: Nightmare;
  src: url("../assets/fonts/NightmareExtended.ttf"); }

div#log, .modal .modal_content, .text-container {
  color: #ccc;
  letter-spacing: 1px;
  line-height: 1.25; }
  div#log > :first-child, .modal .modal_content > :first-child, .text-container > :first-child {
    margin-top: 0 !important; }
  div#log hr, .modal .modal_content hr, .text-container hr {
    margin: 0.5em auto;
    border: 0;
    height: 1px;
    background: #ad48d0; }
  div#log h2, .modal .modal_content h2, .text-container h2 {
    margin: 0.5em 0; }
  div#log h3, .modal .modal_content h3, .text-container h3 {
    margin: 0.5em 0 0.25em 0; }
  div#log h4, .modal .modal_content h4, .text-container h4 {
    margin: 0.25em 0 0.75em 0; }
  div#log h5, .modal .modal_content h5, .text-container h5 {
    margin: 0 0 1em 0; }
  div#log h6, .modal .modal_content h6, .text-container h6 {
    margin: 1em 0; }
  div#log p, .modal .modal_content p, .text-container p {
    margin: 0.25em 0 1em 0; }

body {
  background-color: #664870;
  background-image: url("../assets/images/marble.png");
  background-position: 50vw 0;
  margin: 0; }
  body * {
    font-family: "Nightmare", Serif;
    font-weight: 400; }

.controls, .roster-display, .leader-display_stats, .trade-display_item-list, .trade-display_item-list_item_extras {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none; }

.column {
  box-sizing: border-box;
  height: 100vh;
  max-width: 35rem;
  margin: 0 auto;
  padding: 0.5rem;
  display: flex;
  flex-direction: column; }

div#window {
  flex: 2;
  margin-bottom: 0.5rem;
  overflow: scroll;
  background-color: black;
  background-image: url("../assets/images/marble.png");
  background-attachment: local;
  border-width: 0.5rem;
  border-style: solid;
  box-sizing: border-box;
  border-color: rgba(26, 18, 28, 0.75) rgba(179, 164, 184, 0.625) rgba(204, 194, 207, 0.7) rgba(51, 36, 56, 0.625); }

div#log {
  padding: 1rem; }
  div#log .day.events {
    margin-top: 0.5em; }
  div#log .events {
    margin-bottom: 0.25em; }
  div#log .updates {
    color: #bda5c5;
    margin-top: 0.25em;
    margin-bottom: 0.25em; }
  div#log .stats {
    margin-top: 0.25em;
    color: #9b77a7; }
  div#log .night.events::before {
    content: "that night, by the fire...";
    display: block;
    height: 1.5em;
    width: 12.5em;
    margin: 0.25em 0;
    color: transparent;
    text-indent: 200vw;
    background-image: url("../assets/images/campfire.png");
    background-size: 100%;
    image-rendering: pixelated; }

.controls {
  justify-content: center; }
  .controls li {
    margin: 0 1% 0.5rem 1%;
    min-width: 10%; }
    .controls li.full-width {
      width: 100%;
      margin: 0 0 0.5rem 0; }
      .controls li.full-width button {
        font-size: 1em; }

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  transition: background-color 2s;
  pointer-events: none; }
  .modal .column {
    margin-top: -100vh;
    transition: margin-top 0.25s linear; }
  .modal .modal_background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #3c4448;
    background-image: url("../assets/images/marble.png");
    background-size: 500px;
    box-shadow: 0.5em 0.5em 1em rgba(0, 0, 0, 0.75);
    border-width: 0.5rem;
    border-style: solid;
    box-sizing: border-box;
    border-color: #8a8f91 #2d3336 #1e2224 #6d7376; }
  .modal .modal_scroll-container {
    max-width: 20em;
    width: calc(100% - 1em);
    margin: 0.5em auto;
    max-height: calc(100% - 1em);
    overflow: scroll;
    border-width: 3px;
    border-style: solid;
    box-sizing: border-box;
    border-color: #1e2224 #6d7376 #8a8f91 #2d3336; }
  .modal .modal_content {
    padding: 0.5em; }
  .modal.active {
    background-color: rgba(0, 0, 0, 0.75);
    pointer-events: auto; }
    .modal.active .column {
      margin-top: 0; }

button {
  border-radius: 0;
  padding: 0.25rem 0.75rem;
  position: relative;
  width: 100%;
  background-color: #968ca0;
  background-image: url("../assets/images/marble.png");
  background-size: 200px;
  text-shadow: 0 1px 0 white, 0 -1px 0 rgba(0, 0, 0, 0.5), 0 0 0.25em white;
  font-size: 0.75em;
  border-width: 0.12rem;
  border-style: solid;
  box-sizing: border-box;
  border-color: #c0bac6 #716978 #4b4650 #b0a9b8; }
  button:hover:not(.disabled), button:focus:not(.disabled), button:active:not(.disabled) {
    background-color: #988ea2;
    filter: brightness(120%);
    box-shadow: 0 0 5px #ad48d0; }
  button.disabled {
    filter: contrast(0.75) brightness(0.75);
    pointer-events: none; }
  button.warning {
    background-color: #7b556c;
    border-width: 0.12rem;
    border-style: solid;
    box-sizing: border-box;
    border-color: #b099a7 #5c4051 #3e2b36 #9c8091; }
    button.warning:hover:not(.disabled), button.warning:focus:not(.disabled), button.warning:active:not(.disabled) {
      background-color: #7d576e;
      filter: brightness(120%);
      box-shadow: 0 0 5px #ad48d0; }
    button.warning.disabled {
      filter: contrast(0.75) brightness(0.75);
      pointer-events: none; }

input {
  background-color: rgba(0, 0, 0, 0.25);
  color: white; }

.icon {
  display: block;
  height: 1em;
  width: 1em;
  overflow: hidden;
  text-indent: 200vw;
  background-image: url("../assets/images/placeholder-person.png");
  background-size: 1em 1em;
  image-rendering: pixelated; }

.leader-display {
  width: 100%;
  margin: 0.12rem 0;
  padding: 0.5rem;
  background-color: #7b556c;
  background-image: url("../assets/images/marble.png");
  background-size: 600px;
  font-size: 0.75em;
  color: white;
  border-width: 0.12rem;
  border-style: solid;
  box-sizing: border-box;
  border-color: #b099a7 #5c4051 #3e2b36 #9c8091; }
  .leader-display.button {
    background-color: #556f7b;
    border-width: 0.12rem;
    border-style: solid;
    box-sizing: border-box;
    border-color: #99a9b0 #40535c #2b383e #80939c; }
    .leader-display.button:hover:not(.disabled), .leader-display.button:focus:not(.disabled), .leader-display.button:active:not(.disabled) {
      background-color: #57717d;
      filter: brightness(120%);
      box-shadow: 0 0 5px #ad48d0; }
    .leader-display.button.disabled {
      filter: contrast(0.75) brightness(0.75);
      pointer-events: none; }
    .leader-display.button .leader-display_stats_stat-display_container {
      border-width: 0.12rem;
      border-style: solid;
      box-sizing: border-box;
      border-color: #2b383e #80939c #99a9b0 #40535c; }
  .leader-display_basics {
    display: flex;
    padding: 0.12rem; }
    .leader-display_basics_icon {
      font-size: 2.5rem; }
    .leader-display_basics_lockup {
      display: flex;
      flex-direction: column;
      flex: 1;
      margin-left: 0.5rem;
      padding: 0; }
      .leader-display_basics_lockup_name, .leader-display_basics_lockup_name-input, .leader-display_basics_lockup_title, .leader-display_basics_lockup_worships {
        padding: 0.12rem 0.5rem;
        line-height: 1; }
      .leader-display_basics_lockup_name, .leader-display_basics_lockup_name-input {
        font-size: 1.25em; }
      .leader-display_basics_lockup_name-input {
        border-width: 0.12rem;
        border-style: solid;
        box-sizing: border-box;
        border-color: #3e2b36 #9c8091 #b099a7 #5c4051; }
  .leader-display_stats {
    flex-direction: column; }
    .leader-display_stats_stat-display {
      display: flex;
      margin: 0.12rem 0; }
      .leader-display_stats_stat-display_label {
        width: 4.25em; }
      .leader-display_stats_stat-display_container {
        flex: 1;
        font-size: 0;
        background-color: rgba(0, 0, 0, 0.25);
        border-width: 0.12rem;
        border-style: solid;
        box-sizing: border-box;
        border-color: #3e2b36 #9c8091 #b099a7 #5c4051; }
        .leader-display_stats_stat-display_container_bar {
          display: block;
          height: 100%;
          background-color: #ccc;
          background-image: url("../assets/images/marble.png");
          background-size: 300px;
          border-width: 0.12rem;
          border-style: solid;
          box-sizing: border-box;
          border-color: #e0e0e0 #999999 #666666 #d9d9d9; }
          .leader-display_stats_stat-display_container_bar.health.zero {
            width: 0%;
            background-position: 0% 0%; }
          .leader-display_stats_stat-display_container_bar.health.one {
            width: 10%;
            background-position: 10% 10%; }
          .leader-display_stats_stat-display_container_bar.health.two {
            width: 20%;
            background-position: 20% 20%; }
          .leader-display_stats_stat-display_container_bar.health.three {
            width: 30%;
            background-position: 30% 30%; }
          .leader-display_stats_stat-display_container_bar.health.four {
            width: 40%;
            background-position: 40% 40%; }
          .leader-display_stats_stat-display_container_bar.health.five {
            width: 50%;
            background-position: 50% 50%; }
          .leader-display_stats_stat-display_container_bar.health.six {
            width: 60%;
            background-position: 60% 60%; }
          .leader-display_stats_stat-display_container_bar.health.seven {
            width: 70%;
            background-position: 70% 70%; }
          .leader-display_stats_stat-display_container_bar.health.eight {
            width: 80%;
            background-position: 80% 80%; }
          .leader-display_stats_stat-display_container_bar.health.nine {
            width: 90%;
            background-position: 90% 90%; }
          .leader-display_stats_stat-display_container_bar.health.ten {
            width: 100%;
            background-position: 100% 100%; }
          .leader-display_stats_stat-display_container_bar.wits.zero, .leader-display_stats_stat-display_container_bar.culture.zero, .leader-display_stats_stat-display_container_bar.bravery.zero {
            width: 0%;
            background-position: 0% 0%; }
          .leader-display_stats_stat-display_container_bar.wits.one, .leader-display_stats_stat-display_container_bar.culture.one, .leader-display_stats_stat-display_container_bar.bravery.one {
            width: 20%;
            background-position: 20% 20%; }
          .leader-display_stats_stat-display_container_bar.wits.two, .leader-display_stats_stat-display_container_bar.culture.two, .leader-display_stats_stat-display_container_bar.bravery.two {
            width: 40%;
            background-position: 40% 40%; }
          .leader-display_stats_stat-display_container_bar.wits.three, .leader-display_stats_stat-display_container_bar.culture.three, .leader-display_stats_stat-display_container_bar.bravery.three {
            width: 60%;
            background-position: 60% 60%; }
          .leader-display_stats_stat-display_container_bar.wits.four, .leader-display_stats_stat-display_container_bar.culture.four, .leader-display_stats_stat-display_container_bar.bravery.four {
            width: 80%;
            background-position: 80% 80%; }
          .leader-display_stats_stat-display_container_bar.wits.five, .leader-display_stats_stat-display_container_bar.culture.five, .leader-display_stats_stat-display_container_bar.bravery.five {
            width: 100%;
            background-position: 100% 100%; }
  .leader-display_extra-info {
    margin-top: 0.25rem; }

.trade-display_item-list {
  background-color: #556f7b;
  background-image: url("../assets/images/marble.png");
  background-size: 400px;
  border-width: 0.12rem;
  border-style: solid;
  box-sizing: border-box;
  border-color: #1e2224 #6d7376 #8a8f91 #2d3336; }
  .trade-display_item-list_item {
    width: 100%;
    padding: 0.12rem 0.5rem;
    background-color: rgba(0, 0, 0, 0.25); }
    .trade-display_item-list_item:nth-child(odd) {
      background-color: rgba(46, 46, 46, 0.25); }
    .trade-display_item-list_item:first-of-type {
      padding-top: 0.24rem; }
    .trade-display_item-list_item:last-of-type {
      padding-bottom: 0.24rem; }
    .trade-display_item-list_item_basics {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0.24rem 0;
      color: white; }
      .trade-display_item-list_item_basics_name, .trade-display_item-list_item_basics_input-amount, .trade-display_item-list_item_basics_amount {
        font-size: 0.85em; }
      .trade-display_item-list_item_basics_input-amount {
        width: 3.5em;
        text-align: right;
        border-width: 0.12rem;
        border-style: solid;
        box-sizing: border-box;
        border-color: rgba(0, 0, 0, 0.625) rgba(179, 179, 179, 0.4375) rgba(210, 210, 210, 0.55) rgba(0, 0, 0, 0.4375); }
    .trade-display_item-list_item_extras {
      font-size: 0.5em; }
      .trade-display_item-list_item_extras_item {
        padding-right: 0.5rem;
        color: #999; }
        .trade-display_item-list_item_extras_item.buy, .trade-display_item-list_item_extras_item.sell {
          width: 100%;
          box-sizing: border-box;
          color: #ccc; }
          .complex .trade-display_item-list_item_extras_item.buy, .complex .trade-display_item-list_item_extras_item.sell {
            border-bottom: 1px solid #999; }
        .shop .trade-display_item-list_item_extras_item.buy, .shop .trade-display_item-list_item_extras_item.sell {
          width: 50%; }
        .shop .trade-display_item-list_item_extras_item.buy {
          text-align: right;
          padding-right: 0; }

.trade-display_totals {
  padding: 0.12rem; }
  .trade-display_totals_value-display, .trade-display_totals_capacity-display, .trade-display_totals_error-display {
    margin: 0 0.5rem 0 0 !important;
    text-align: right; }
    .trade-display_totals_value-display.over, .trade-display_totals_value-display.has-error, .trade-display_totals_capacity-display.over, .trade-display_totals_capacity-display.has-error, .trade-display_totals_error-display.over, .trade-display_totals_error-display.has-error {
      color: #ea5672; }
  .trade-display_totals_error-display {
    font-size: 0.75em;
    height: 1.25em; }
