html{
	font-size: 22px;
}

// colors
$plum: #664870;
$magenta: #ad48d0;
$dove: #ccc;
$dark-dove: #999;
$eggshell: #eee;
$slate: #3c4448;
$dusty: #968ca0;
$mauve: #833966;
$salmon: #ea5672;
$granite: #556f7b;
$ghost: fade-out($dove,0.65);
$dark-shadow: fade-out(black,0.75);
$light-shadow: fade-out(#2e2e2e,0.75);
$purple-shadow: fade-out($plum,0.5);

// sizes
$column-padding-width: 0.5rem;
$button-border-width: 0.12rem;

// fonts

$Nightmare: 'Nightmare', Serif;
$BenchNine: 'BenchNine', Sans-Serif;

@font-face {
  font-family: Nightmare;
  src: url('../assets/fonts/NightmareExtended.ttf');
}

@font-face {
  font-family: BenchNine;
  src: url('../assets/fonts/BenchNine-Light.ttf');
}

// etc

$marble-bg : url('../assets/images/marble.png');

$zeroToTen: ['zero','one','two','three','four','five','six','seven','eight','nine','ten'];

//mixins

@mixin emboss($border-width: $column-padding-width, $color: rgba(128,128,128,0.5), $inset: true){
	border-width: $border-width;
	border-style: solid;
	box-sizing: border-box;
	$shadow: mix(black, $color);
	$shadow-mid: mix(black, $color, 25%);
	$highlight: mix(white, $color, 40%);
	$highlight-mid: mix(white, $color, 25%);
	@if ($inset){
		border-color: $shadow $highlight-mid $highlight $shadow-mid;
	} @else {
		border-color: $highlight $shadow-mid $shadow $highlight-mid;
	}
}

@mixin button-behavior($bg-color){
	&:hover, &:focus, &:active{

		&:not(.disabled){
			background-color: lighten($bg-color, 0.75);
			filter: brightness(120%);
    		box-shadow: 0 0 5px $magenta;
		}
	}

	&.disabled{
		filter: contrast(0.75) brightness(0.75);
		pointer-events: none;
	}
}

// typography

%typography-styles{

	// all top elements in containers with this placeholder are flush with top.
	>:first-child{
    	margin-top: 0 !important;
    }

	color: $dove;

	letter-spacing: 1px;
    line-height: 1.25;

	hr{
    	margin: 0.5em auto;
    	border: 0;
    	height: 1px;
    	background: $magenta;
    }

    h1 {

    }

    h2{
    	margin: 0.5em 0;
    }

    h3 {
    	margin: 0.5em 0 0.25em 0;
	}

	h4{
		margin: 0.25em 0 0.75em 0;
	}

	h5{
		margin: 0 0 1em 0;
	}

	h6{
		margin: 1em 0;
	}

	p {
    	margin: 0.25em 0 1em 0;
	}

}

%emboss-text{
	text-shadow: 0 1px 0 white, 0 -1px 0 rgba(0, 0, 0, 0.5), 0 0 0.25em white;
}

body{
	background-color: $plum;
	background-image: $marble-bg;
	background-position: 50vw 0; 
	margin: 0;


	&.thematic * {
		font-family: $Nightmare;
		font-weight: 400;
	}

	&.sans-serif * {
		font-family: $BenchNine;
		font-weight: 300;
	}
}

%no-bullet-list{
	display: flex;
	flex-wrap: wrap;

	margin: 0;
	padding: 0;

	list-style: none;
}

.column{
	box-sizing: border-box;
    height: 100vh;
    max-width: 35rem;

    margin: 0 auto;
    padding: $column-padding-width;

    display: flex;
    flex-direction: column;
}

div#window{
	flex: 2;
	margin-bottom: $column-padding-width;

	overflow-y: scroll;
	overflow-x: hidden;

	background-color: black;
	background-image: $marble-bg;
	background-attachment: local;


	@include emboss($color: fade-out($plum, 0.5));
}

div#log{
	padding: 2 * $column-padding-width;

	@extend %typography-styles;

    .day{

    	&.events{
    		margin-top: 0.5em;
    	}

    }

    .events{
    	margin-bottom: 0.25em;
    }

    .updates{
    	color: lighten($plum, 35%);
    	margin-top: 0.25em;
    	margin-bottom: 0.25em;
    }

    .stats{
    	margin-top: 0.25em;
    	color: lighten($plum, 20%);
    }

    .night.events::before{
    	content: "that night, by the fire...";
    	display: block;

    	height: 1.5em;
    	width: 12.5em;
    	margin: 0.25em 0;

    	color: transparent;
    	text-indent: 200vw;

    	background-image: url('../assets/images/campfire.png');
    	background-size: 100%;
    	image-rendering: pixelated;
    }

}

.controls{

	@extend %no-bullet-list;

	justify-content: center;

	li{
		margin: 0 1% 0.5rem 1%;
    	min-width: 10%;

		&.full-width{
			width: 100%;
			margin: 0 0 0.5rem 0;

			button{
				font-size: 1em;
			}
		}
	}

	button{
		
	}
}

.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    transition: background-color 2s;
    pointer-events: none;

    .column{
    	margin-top: -100vh;
    	transition: margin-top 0.25s linear;
    }

    .modal_background {
    	display: flex;
    	flex-direction: column;
    	justify-content: center;
    	align-items: center;

    	width: 100%;
    	height: 100%;
    	background-color: $slate;
    	background-image: $marble-bg;
		background-size: 500px;
		box-shadow: 0.5em 0.5em 1em fade-out(black,0.25);

    	@include emboss($color: $slate, $inset: false);
    }

    .modal_title-bar {
    	position: relative;
    	width: 100%;
    	color: $dove;
    	font-size: 1.5em;
    	text-align: center;

    	&_text {
		    display: block;
		    line-height: 1;
		    padding-top: $column-padding-width;
		}

    	&_close-button{
    		position: absolute;
    		right: 0;
    		top: 0;
    		padding: $column-padding-width;
    		cursor: pointer;
    	}
    }

    .modal_scroll-container {
    	max-width: 20em;
	    width: calc(100% - 1em);
	    margin: 0.5em auto;
	    max-height: calc(100% - 1em);
	    overflow: scroll;

	    @include emboss($color: $slate, $inset: true, $border-width: 3px);
	}

    .modal_content{
    	padding: 0.5em;

    	@extend %typography-styles;
    }

    .modal_content_textblock {
	    //color: $dove;
	}

    &.active{
    	background-color: fade-out(black,0.25);
    	pointer-events: auto;

    	.column{
    		margin-top: 0;
    	}
    }
}

.text-container{

	@extend %typography-styles;

}

button{
	border-radius: 0;
	padding: 0.25rem 0.75rem;
	padding: 0;

	position: relative;
	width: 100%;

	background-color: $dusty;
	background-image: $marble-bg;
	background-size: 200px;

	font-size: 0.75em;

	@extend %emboss-text;

	@include emboss($color: $dusty, $border-width: $button-border-width, $inset: false);

	@include button-behavior($dusty);

	span {
	    display: block;
	    width: calc(100% - 1.5rem);
	    padding: 0.25rem 0.75rem;

	   	background: radial-gradient(circle, rgba(232, 212, 232, 0.58) 25%, rgba(143, 99, 141, 0.3) 100%);
	    background: radial-gradient(circle, $ghost, $purple-shadow 100%);
	}

	&.warning{

		background-color: $mauve;
		@include emboss($color: $mauve, $border-width: $button-border-width, $inset: false);

		@include button-behavior($mauve);
	}

}

input{
	background-color: $dark-shadow;
	color: white;
}

.icon {
    display: block;
    height: 1em;
    width: 1em;
    overflow: hidden;
    text-indent: 200vw;

    background-size: 1em 1em;
    image-rendering: pixelated;
}

.morale-display{
	width: 100%;
	display: flex;
	align-items: center;

	margin: $button-border-width 0;
	padding: $column-padding-width;

	background-color: $granite;
	background-image: $marble-bg;
	background-size: 600px;

	font-size: 1.5em;
	color: white;

	@include emboss($color: $granite, $border-width: $button-border-width, $inset: false);

	&_face{
		font-size: 2rem;
		background-size: 5em 1em;
		background-image: url('../assets/images/morale.png');
		margin-right: $column-padding-width;

		$emotions: 'laughing' 'smiling' 'concerned' 'frowning' 'weeping';

		@for $i from 1 through length($emotions){
			&.#{nth($emotions, $i)}{
				background-position: (1em * $i) 0;
			}
		}
	}
}

.roster-display{
	@extend %no-bullet-list;
}

.leader-display{
	width: 100%;

	margin: $button-border-width 0;
	padding: $column-padding-width;

	background-color: $mauve;
	background-image: $marble-bg;
	background-size: 600px;

	font-size: 0.75em;
	color: white;

	@include emboss($color: $mauve, $border-width: $button-border-width, $inset: false);

	&.button, &.status{

		background-color: $granite;

		@include emboss($color: $granite, $border-width: $button-border-width, $inset: false);

		.leader-display_stats_stat-display_container{
			@include emboss($color: $granite, $border-width: $button-border-width);
		}
	}

	&.button{
		@include button-behavior($granite);
	}

	&_basics{

		display: flex;
    	padding: $button-border-width;

		&_icon{
			font-size: 2.5rem;
			background-image: url('../assets/images/placeholder-person.png');
		}

		&_lockup{
			display: flex;
    		flex-direction: column;
    		flex: 1;

    		margin-left: 0.5rem;
    		padding: 0;

    		&_name, &_name-input, &_title, &_worships{
    			padding: $button-border-width $column-padding-width;
    			line-height: 1;
    		}
    		
    		&_name, &_name-input{
    			font-size: 1.25em;
    		}

    		&_name-input{
    			@include emboss($color: $mauve, $border-width: $button-border-width);
    		}
		}
	}

	&_stats{

		@extend %no-bullet-list;
		flex-direction: column;

		&_stat-display{
			display: flex;
			margin: 0.12rem 0;

			&_label{
				width: 4.25em;
			}

			&_container{
				flex: 1;
				font-size: 0;

				background-color: $dark-shadow;
    			@include emboss($color: $mauve, $border-width: $button-border-width);

    			&_bar{
    				display: block;

    				height: 100%;

    				background-color: $dove;
    				background-image: $marble-bg;
					background-size: 300px;

					@include emboss($color: $dove, $border-width: $button-border-width, $inset: false);

					@for $i from 1 through 11{
						&.health.#{unquote(nth($zeroToTen,$i))}{
							width: ($i - 1) * 10%;

							background-position: ($i - 1) * 10% ($i - 1) * 10%;
						}
					}

					@for $i from 1 through 6{
						&.wits, &.culture, &.bravery{
							&.#{unquote(nth($zeroToTen,$i))}{
								width: ($i - 1) * 20%;
								background-position: ($i - 1) * 20% ($i - 1) * 20%;
							}
						}
					}
    			}
			}
			
		}
	}

	&_extra-info{
		margin-top: $column-padding-width / 2;
	}
}

.trade-display{

	&_item-list{
		@extend %no-bullet-list;

		background-color: $granite;
		background-image: $marble-bg;
		background-size: 400px;
		@include emboss($color: $slate, $border-width: $button-border-width);

		&_item{
			width: 100%;
			padding: $button-border-width $column-padding-width;
			background-color: $dark-shadow;

			&:nth-child(odd){
				background-color: $light-shadow;
			}

			&:first-of-type {
			    padding-top: $button-border-width * 2;
			}

			&:last-of-type {
			    padding-bottom: $button-border-width * 2;
			}

			&_basics{
				display: flex;
    			justify-content: space-between;
    			align-items: center;

    			margin: 2 * $button-border-width 0;

    			color: white;

    			&_name, &_input-amount, &_amount{
    				font-size: 0.85em;
    			}

    			&_input-amount{
    				width: 3.5em;
    				text-align: right;

    				@include emboss($color: $dark-shadow, $border-width: $button-border-width);
    			}
			}

			&_extras{
				@extend %no-bullet-list;

				font-size: 0.5em;

				&_item{

					padding-right: $column-padding-width;
					color: $dark-dove;

					&.buy, &.sell, &.have{
						width: 50%;
						box-sizing: border-box;
						padding-right: 0;
						color: $dove;

						.complex & {
							border-bottom: 1px solid $dark-dove;
						}
					}

					&.have{
						text-align: right;
					}

					.shop &{
						&.buy, &.sell{
							width: 50%;
						}

						&.buy{
							text-align: right;
						}
					}
				
				}
			}
		}
	}

	&_totals{
		padding: 0.12rem;
		margin: $column-padding-width 0 (2 * $column-padding-width) 0;

		&_value-display, &_capacity-display, &_error-display{
			margin: 0 $column-padding-width 0 0 !important;
			text-align: right;

			&.over, &.has-error{
				color: $salmon;
			}
		}
		&_error-display{
			font-size: 0.75em;
			height: 1.25em;
		}
	}
}

@media print {

	html{
		font-size: 15px;
	}

	body{
		background: white;
	}

	.column {
	    padding: 0;
	    height: auto;
	    max-width: 100%;
	}
	
	ul#main-controls {
	    display: none;
	}
	
	div#window {
	    border: none;
	    margin: 0;
	    background: white;

	    * {
			color: black !important;
		}
	}

	hr {
    	background: black !important;
	}

	div#log .night.events::before {
	    background: $dove;
    	height: 1px;
    	width: 100%;
	}

	.modal:not(.active) {
    	display: none;
	}
}

