html{
	font-size: 24px;
}

// colors
$plum: #664870;
$magenta: #ad48d0;
$dove: #ccc;
$eggshell: #eee;

// sizes
$column-padding-width: 0.5rem;

// etc

$marble-bg : url('../assets/images/marble.png');

//mixins

@mixin emboss($border-width: $column-padding-width, $color: rgba(128,128,128,0.5), $inset: true){
	border-width: $border-width;
	border-style: solid;
	$shadow: mix(black, $color);
	$shadow-mid: mix(black, $color, 25%);
	$highlight: mix(white, $color, 40%);
	$highlight-mid: mix(white, $color, 25%);
	@if ($inset){
		border-color: $shadow $highlight-mid $highlight $shadow-mid;
	} @else {
		border-color: $highlight $shadow-mid $shadow $highlight-mid;
	}
}

body{
	background-color: $plum;
	background-image: $marble-bg;
	background-position: 50vw 0; 
	margin: 0;


	* {
		font-family: 'Serpent', Serif;
	}
}

.column{
	box-sizing: border-box;
    height: 100vh;
    max-width: 35rem;

    margin: 0 auto;
    padding: $column-padding-width;

    display: flex;
    flex-direction: column;
}

.window{
	flex: 2;
	margin-bottom: $column-padding-width;

	overflow: scroll;

	background-color: black;
	background-image: $marble-bg;
	background-attachment: local;

	color: $dove;

	@include emboss($color: fade-out($plum, 0.5));
}

div#log{
	padding: 2 * $column-padding-width;

	letter-spacing: 0.5px;
    line-height: 1.1;
}

ul#controls{

	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	margin: 0;
	padding: 0;

	list-style: none;

	li{
		margin: 0 1% 0.5rem 1%;
    	min-width: 10%;

		&.full-width{
			width: 100%;
			margin: 0 0 0.5rem 0;

			button{
				font-size: 1em;
			}
		}
	}

	button{
		position: relative;
		width: 100%;

		background-color: $dove;
		background-image: $marble-bg;
		background-size: 200px;
		text-shadow: 0 1px 0 white, 0 -1px 0 rgba(0, 0, 0, 0.5);

		font-size: 0.75em;

		@include emboss($color: $dove, $border-width: 0.12em, $inset: false);

		&:hover, &:focus, &:active{
			background-color: $eggshell;
			filter: brightness(110%);
    		box-shadow: 0 0 5px $magenta;
    		top: 2px;
		}
	}
}

button{
	border-radius: 0;
	padding: 0.25rem 0.75rem;
}

@font-face {
  font-family: Serpent;
  src: url('../assets/fonts/serpent.ttf');
}