html{
	font-size: 22px;
}

// colors
$plum: #664870;
$magenta: #ad48d0;
$dove: #ccc;
$eggshell: #eee;
$slate: #3c4448;
$dusty: #968ca0;

// sizes
$column-padding-width: 0.5rem;

// fonts

$Nightmare: 'Nightmare', Serif;

@font-face {
  font-family: Nightmare;
  src: url('../assets/fonts/NightmareExtended.ttf');
}

// etc

$marble-bg : url('../assets/images/marble.png');

//mixins

@mixin emboss($border-width: $column-padding-width, $color: rgba(128,128,128,0.5), $inset: true){
	border-width: $border-width;
	border-style: solid;
	box-sizing: border-box;
	$shadow: mix(black, $color);
	$shadow-mid: mix(black, $color, 25%);
	$highlight: mix(white, $color, 40%);
	$highlight-mid: mix(white, $color, 25%);
	@if ($inset){
		border-color: $shadow $highlight-mid $highlight $shadow-mid;
	} @else {
		border-color: $highlight $shadow-mid $shadow $highlight-mid;
	}
}

// typography

%typography-styles{

	color: $dove;

	letter-spacing: 1px;
    line-height: 1.25;

	hr{
    	margin: 0.5em auto;
    	border: 0;
    	height: 1px;
    	background: $magenta;
    }

    h1 {

    }

    h2{
    	margin: 0.5em 0;
    }

    h3 {
    	margin: 0.5em 0 0.25em 0;
	}

	h4{

	}

	h5{
		margin: 0 0 1em 0;
	}

	p {
    	margin: 0.25em 0 1em 0;
	}

}

body{
	background-color: $plum;
	background-image: $marble-bg;
	background-position: 50vw 0; 
	margin: 0;


	* {
		font-family: $Nightmare;
		font-weight: 400;
	}
}

.column{
	box-sizing: border-box;
    height: 100vh;
    max-width: 35rem;

    margin: 0 auto;
    padding: $column-padding-width;

    display: flex;
    flex-direction: column;
}

div#window{
	flex: 2;
	margin-bottom: $column-padding-width;

	overflow: scroll;

	background-color: black;
	background-image: $marble-bg;
	background-attachment: local;


	@include emboss($color: fade-out($plum, 0.5));
}

div#log{
	padding: 2 * $column-padding-width;

	@extend %typography-styles;

    .day{

    	&.events{
    		margin-top: 0.5em;
    	}

    }

    .events{
    	margin-bottom: 0.25em;
    }

    .updates{
    	color: lighten($plum, 35%);
    	margin-top: 0.25em;
    	margin-bottom: 0.25em;
    }

    .stats{
    	margin-top: 0.25em;
    	color: lighten($plum, 20%);
    }

    .night.events::before{
    	content: "that night, by the fire...";
    	display: block;

    	height: 1.5em;
    	width: 12.5em;
    	margin: 0.25em 0;

    	color: transparent;
    	text-indent: 200vw;

    	background-image: url('../assets/images/campfire.png');
    	background-size: 100%;
    	image-rendering: pixelated;
    }

}

.controls{

	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	margin: 0;
	padding: 0;

	list-style: none;

	li{
		margin: 0 1% 0.5rem 1%;
    	min-width: 10%;

		&.full-width{
			width: 100%;
			margin: 0 0 0.5rem 0;

			button{
				font-size: 1em;
			}
		}
	}

	button{
		
	}
}

.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    transition: background-color 2s;
    pointer-events: none;

    .column{
    	margin-top: -100vh;
    	transition: margin-top 0.25s linear;
    }

    .modal_background {
    	display: flex;
    	flex-direction: column;
    	justify-content: center;
    	align-items: center;

    	width: 100%;
    	height: 100%;
    	background-color: $slate;
    	background-image: $marble-bg;
		background-size: 500px;
		box-shadow: 0.5em 0.5em 1em fade-out(black,0.25);

    	@include emboss($color: $slate, $inset: false);
    }

    .modal_scroll-container {
    	max-width: 20em;
	    width: calc(100% - 1em);
	    margin: 0.5em auto;
	    max-height: calc(100% - 1em);
	    overflow: scroll;

	    @include emboss($color: $slate, $inset: true, $border-width: 3px);
	}

    .modal_content{
    	padding: 0.5em;

    	*:first-child{
    		margin-top: 0;
    	}

    	@extend %typography-styles;
    }

    .modal_content_textblock {
	    //color: $dove;
	}

    &.active{
    	background-color: fade-out(black,0.25);
    	pointer-events: auto;

    	.column{
    		margin-top: 0;
    	}
    }
}

button{
	border-radius: 0;
	padding: 0.25rem 0.75rem;

	position: relative;
	width: 100%;

	background-color: $dusty;
	background-image: $marble-bg;
	background-size: 200px;
	text-shadow: 0 1px 0 white, 0 -1px 0 rgba(0, 0, 0, 0.5), 0 0 0.25em white;

	font-size: 0.75em;

	@include emboss($color: $dusty, $border-width: 0.12em, $inset: false);

	&:hover, &:focus, &:active{

		&:not(.disabled){
			background-color: lighten($dusty, 0.75);
			filter: brightness(120%);
    		box-shadow: 0 0 5px $magenta;
    		//top: 2px;
		}
	}

	&.disabled{
		filter: contrast(0.75) brightness(0.75);
	}
}